# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/media
/staticfiles
/static
.DS_Store
.env
.env.*

# VSCode
.vscode/

# Virtualenv
env/
venv/
ENV/
.venv/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.cache
.pytest_cache/
